.features {
  padding: 40px;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @include tablet {
    display: flex;
  }
}

.features__item {
  position: relative;

  padding-left: 30px;

  @include tablet {
    padding: 150px 25px 60px;
    text-align: center;
  }

  &::before {
    content: "";

    position: absolute;
    top: -10px;
    left: -15px;

    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      top: 35px;
      left: 78px;
    }
  }

  &--house {
    &::before {
      width: 37px;
      height: 36px;

      background-image: url("../img/icon-house.svg");

      @include tablet {
        width: 75px;
        height: 72px;
      }
    }
  }

  &--souvenirs {
    &::before {
      width: 32px;
      height: 38px;

      background-image: url("../img/icon-gift.svg");

      @include tablet {
        width: 64px;
        height: 75px;
      }
    }
  }

  &--food {
    &::before {
      left: -18px;

      width: 40px;
      height: 35px;
      background-image: url("../img/icon-burger.svg");

      @include tablet {
        left: 78px;

        width: 77px;
        height: 68px;
      }
    }
  }
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.features__desk {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
