.features {
  padding: 21px 40px 7px;

  @include tablet {
    padding: 0;
  }

  @include desktop {
    padding-bottom: 22px;
  }
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @include tablet {
    display: flex;
  }
}

.features__item {
  position: relative;

  margin-bottom: 30px;
  padding-left: 30px;

  @include tablet {
    width: 33.3%;
    margin-bottom: 0;
    padding: 142px 45px 47px;

    text-align: center;
  }

  &--souvenirs {
    order: 3;
  }

  @include desktop {
    padding: 142px 50px 47px;
  }

  br {
    display: none;

    @include tablet {
      display: initial;
    }
  }
}

.features__item-icon {
  position: absolute;

  @include tablet {
    top: 35px;
    transform: translateX(-50%);
  }

  &--house {
    top: -12px;
    left: -18px;

    width: 37px;
    height: 36px;

    @include tablet {
      top: 59px;
      left: 50%;

      width: 75px;
      height: 72px;
    }
  }

  &--souvenirs {
    top: -12px;
    left: -15px;

    width: 32px;
    height: 38px;

    @include tablet {
      top: 56px;
      left: 50%;
      width: 64px;
      height: 75px;
    }
  }

  &--food {
    top: -7px;
    left: -21px;

    width: 40px;
    height: 35px;

    @include tablet {
      top: 62px;
      left: 50%;

      width: 77px;
      height: 68px;
    }
  }
}

.features__title {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 22px;

    font-size: 21px;
  }
}

.features__desk {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $almost-black;

  br {
    display: none;

    @include tablet {
      display: initial;
    }
  }
}
