.letsgo {
  padding: 10px 20px 49px;

  text-align: center;

  @include tablet {
    padding: 30px 20px 58px;
  }

  @include desktop {
    padding-bottom: 66px;
  }

  &--gallery {
    padding: 10px 25px 49px;
  }
}

.letsgo__title {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.letsgo__text {
  margin-bottom: 37px;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $almost-black;

  @include tablet {
    margin: 0 auto 42px;
    max-width: 450px;
  }

  @include desktop {
    margin-bottom: 46px;
  }

  br {
    display: none;

    @include tablet {
      display: initial;
    }
  }
}

.letsgo__btn {
  display: block;
  max-width: 458px;
  margin: 0 auto;
  padding: 17px;

  font-size: 21px;
  font-weight: bold;
  // letter-spacing: 1.7px;
  text-transform: uppercase;
  color: $white-three;

  background-color: $light-grey-blue;

  &:hover,
  &:focus {
    background-color: $grey-blue;
  }

  &:active {
    background-color: $dark-grey-blue;
    color: rgba($white-three, 0.3);
  }
}
