.popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;

  transform: translateY(-50%);

  text-align: center;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  &--show {
    display: block;
  }

  &--danger {
    @include tablet {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      width: 400px;
    }
  }

  &--done {
    @include tablet {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      width: 640px;
    }
  }
}

.popup__inner {
  margin: 49px 50px 40px;
}

.popup__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.popup__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.popup__btn-wrapper {
  padding: 0 70px 35px;

  &--done {
    padding: 20px;

    background-color: #f2f2f2;

    @include tablet {
      padding: 44px 91px;
    }
  }
}

.popup__btn {
  display: inline-block;
  width: 100%;
  // margin: 0 auto;
  // padding: 0 79px;

  line-height: 58px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white-three;

  background-color: $light-grey-blue;
  border: none;
}
