.reason {
  &--one {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      top: -19px;

      height: 20px;

      background-image: url("../img/bg-intro-triangle-mobile-blue.svg");
      background-size: cover;

      @include tablet {
        content: none;

        height: 57px;

        background-image: url("../img/bg-intro-triangle-tablet.svg");
      }

      @include desktop {
        height: 57px;

        background-image: url("../img/bg-intro-triangle-desktop.svg");
      }
    }
  }

  @include tablet {
    display: flex;
  }

  &--reverse {
    @include tablet {
      flex-direction: row-reverse;
    }
  }
}

.reason__desk {
  flex-grow: 1;
  padding: 40px 25px;

  text-align: center;
  color: $white-three;

  background-color: $light-grey-blue;

  @include tablet {
    min-width: 256px;
    padding: 46px 47px 30px;
  }

  @include desktop {
    padding: 53px 67px;
  }

  &--no-photo {
    position: relative;

    padding: 27px 31px 28px;

    color: #000000;

    background-color: #efefef;

    @include tablet {
      width: 33.3%;
      padding: 46px 49px;
    }

    @include desktop {
      padding-bottom: 67px;
    }

    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;

      height: 1px;

      background-color: #000000;
      opacity: 0.1;

      @include tablet {
        content: none;
      }
    }
  }

  &--4 {
    @include tablet {
      padding: 46px 50px;
    }
  }
}

.reason__title {
  margin: 0;
  margin-bottom: 7px;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  br {
    display: none;
  }

  @include tablet {
    margin-bottom: 9px;

    font-size: 21px;

    br {
      display: initial;
    }
  }
}

.reason__number,
.reason__text {
  margin: 0;
  margin-top: 16px;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @include tablet {
    margin-top: 20px;
  }

  br {
    display: none;

    @include desktop {
      display: initial;
    }
  }

  &--no-photo {
    color: $almost-black;

    br {
      display: none;

      @include tablet {
        display: initial;
      }
    }
  }
}

.reason__photo {
  text-align: center;

  overflow: hidden;

  @include tablet {
    flex-shrink: 0;

    width: 512px;
    height: 256px;

    img {
      width: 100%;
    }
  }

  @include desktop {
    width: 800px;
    height: 256px;
  }

  picture {
    display: block;

    height: 260px;

    @include tablet {
      height: 256px;
    }
  }
}
