$grey-blue: #669ec0;
$light-grey-blue: #81b3d2;
$dark-grey-blue: #5496bd;
$brown: #766357;
$white-three: #ffffff;
$black: #000000;
$white-two: #e5e5e5;
$almost-black: #333333;

body {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;

  background-color: #f2f2f2;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  background-color: $white-three;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}
